body {
  font-family: "Open Sans", sans-serif;
  color: #60606e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.ba-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ba-menu-btn {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  z-index: 10;
}
.ba-menu-btn__line {
  display: block;
  height: 1px;
  background-color: #60606e;
}
.ba-menu-btn__line:nth-child(2) {
  margin: 6px 0;
  width: 50%;
}
.ba-menu-btn__line:nth-child(3) {
  width: 75%;
}
#menuOpen:checked ~ .ba-menu-block {
  transform: translateY(101%);
}
.ba-menu-block {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #bce0c0;
  left: 0;
  top: -101%;
  z-index: 5;
  transition: 0.5s;
}
.ba-menu__link {
  font-size: 1.5em;
  color: #fff;
  /*padding: 0 1em;*/
  text-decoration: none;
  text-transform: capitalize;
}
.ba-menu__item {
  position: relative;
  overflow: hidden;
  margin: 0 1em;
  opacity: 0;
  transform: translateY(-1.5em) scale(1.3);
  transition: transform 0.5s ease, opacity 0.2s;
}
.ba-menu__item::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: blueviolet;
  position: absolute;
  bottom: 0;
  left: -100%;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item {
  transform: none;
  opacity: 1;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(1) {
  transition-delay: 1s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(2) {
  transition-delay: 1.15s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(3) {
  transition-delay: 1.3s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(4) {
  transition-delay: 1.45s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item::after {
  transform: translateX(250%);
  transition: 2.5s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(1)::after {
  transition-delay: 1.5s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(2)::after {
  transition-delay: 2.1s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(3)::after {
  transition-delay: 2.7s;
}
#menuOpen:checked ~ .ba-menu-block .ba-menu__item:nth-child(4)::after {
  transition-delay: 3.3s;
}
.ba-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 40px;
}
.ba-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-logo {
  font-size: 1.125rem;
  margin: 0;
}
.ba-hero {
  background-color: #adaeae;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 500px;
}
.ba-hero__title {
  font-size: 2.25rem;
  line-height: 1.3333;
  margin-bottom: 0.25em;
  text-align: center;
}
.ba-dreadcrumbs {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.ba-breadcrumbs__item {
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.ba-breadcrumbs__item + .ba-breadcrumbs__item::before {
  content: "/";
  display: inline-block;
  margin: 0 5px;
}
.ba-about {
  min-height: 600px;
  display: flex;
  align-items: center;
}
.ba-info__text {
  font-size: 0.875rem;
  line-height: 1.875rem;
}
.ba-info__title {
  position: relative;
  font-size: 1.875rem;
  text-transform: uppercase;
}
.ba-info__title::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #7beec7;
  height: 0.7em;
  width: 2.26em;
  top: 0.5em;
  z-index: -1;
}
.ba-info-block__fact {
  display: block;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 18px 0;
}
.ba-section__header {
  text-align: center;
}
.ba-benefits {
  min-height: 660px;
}
.ba-benefit {
  margin-bottom: 2em;
}
.ba-benefit__title {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin: 0;
}
.ba-benefit__icon {
  width: 40px;
  height: 40px;
  background-color: #7beec7;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.ba-benefit__icon svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  color: #fff;
}
.ba-benefit__icon:hover svg {
  color: red;
}
.ba-team-list {
  margin-top: 95px;
}
.ba-team-member {
  width: 100%;
  height: 333px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.ba-team-member__img {
  display: block;
  height: 100%;
  width: 100%;
}
.ba-team-member__info {
  position: absolute;
  top: -100%;
  background-color: rgba(123, 238, 199, 0.78);
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: 0.4s;
}
.ba-team-member__info svg {
  fill: #fff;
}
.ba-team-member__name {
  margin: 0;
}
.ba-team-member__position {
  margin: 0;
}
.ba-team-member:hover .ba-team-member__info {
  transform: translateY(100%);
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.ba-footer {
  background-color: #7beec7;
  padding: 50px 0;
}
.ba-footer__title {
  color: #fff;
  line-height: 3rem;
  font-size: 1.875rem;
  margin-bottom: 20px;
}
.ba-subscribe {
  background-color: #fff;
  padding: 20px;
}
.ba-subscribe__title {
  color: #000;
  line-height: 2.25rem;
  font-size: 1.5rem;
}
.ba-subscribe__desc {
  font-size: 1rem;
  line-height: 1.5rem;
}
.ba-subscribe-form {
  display: flex;
}
.ba-input {
  height: 50px;
  padding: 1em;
  border: 1px solid #e5e5e5;
  border-right: none;
  flex-grow: 1;
}
.ba-btn {
  display: inline-block;
  height: 50px;
  width: 165px;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #7beec7;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.2em;
  transition: 0.4s;
}
.ba-button_green {
  background-color: #7beec7;
  color: #fff;
  width: 135px;
}
::placeholder {
  color: #c1c1c1;
  text-transform: uppercase;
}
.ba-btn:hover {
  opacity: 0.8;
}
